@using Microsoft.AspNetCore.Identity
@using Permissions.Constants
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (User.IsInRole(Roles.Admin.ToString()))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Perk" asp-action="Index">Perks</a>
    </li>
}

</ul>
